.header{
    width: 100%;
    height: 12vh;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 60vw;
    margin-left: 2rem;
    font-size: 2.5rem; 
}
.login-menu{
    width: 20vw;
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 1.2rem;
    color: var(--white);
}

.profile-menu{
    width: 30vw;
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 1.2rem;
    color: var(--white);
}
.link1{
    color: var(--white);
    cursor: pointer;
    font-size: 1.2rem;
    text-decoration: none;
}

.link2{
    color: var(--white);
    cursor: pointer;
    font-size: 1.2rem;
    text-decoration: none;
}