.dashboard{
    height: 100vh;
}
.dashboard-background{
    height: 85vh;
}
.blurred-background{
    height: 85vh;
    position: relative;
    z-index: -1;
    filter: blur(5px);
}
  
.dashboard-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
}
.category{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    margin: 0rem 2rem;
    
}

.pending{
    border: 1px solid red;
    background-color: white;
    border-radius: 0.5rem;
    width: 33%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
}

.in-progress{
    border: 1px solid orange;
    background-color: white;
    border-radius: 0.5rem;
    width: 33%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
}

.completed{
    border: 1px solid green;
    background-color: white;
    border-radius: 0.5rem;
    width: 33%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
}

.pending-title{
    font-size: 1.2rem;
    color: red;
}

.in-progress-title{
    font-size: 1.2rem;
    color: orange;
}
.completed-title{
    font-size: 1.2rem;
    color: green;
}
.edit-page{
    position: absolute;
    z-index: 1000;
    top: 8rem;
    left: 20rem;
}

.edit-page-content{
    position: relative;
}

.edit-cancel-icon{
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    cursor: pointer;
    z-index: 1000;
    font-size: 3.5rem;
    color: red;
}

.create-page-content{
    position: relative;
}

.create-cancel-icon{
    position: absolute;
    top: -0.2rem;
    right: -0.1rem;
    cursor: pointer;
    z-index: 1000;
    font-size: 3.5rem;
    color: red;
}
